.dropArea {
    margin-top: 10px;
    border: 2px dashed gray;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.upload-container {
    padding: 0 10px;
}

.table-container {
    margin-top: 35px;
}

table tbody {
    display:block;
    max-height:calc(100vh - 222px);;
    overflow-y:scroll;
}

 thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}