.content {
    padding: 0 10px;
}

.brand-logo i {
    font-size: 50px;
}

.login-background {
    background-image: -webkit-linear-gradient(top,#654a86,#534292);
    background-image: linear-gradient(to bottom,#654a86,#534292);
    background-color: #534292;
}

@media only screen and (max-width: 992px) {

    .brand-logo {
        font-size: 19px;
    }

    .brand-logo i {
        font-size: 40px;
    }
}

@media only screen and (max-width: 366px) {
    
    .brand-logo {
        font-size: 18px;
    }

    .brand-logo i {
        font-size: 25px;
    }
}